<div class="jumbotron">
  <h1 class="text-center">25:00</h1>
  <div class="text-center">
    <%= link_to "Start", "", class: "btn btn-primary" %>
    <%= link_to "Pause", "", class: "btn btn-warning" %>
    <%= link_to "Reset", "", class: "btn btn-danger" %>
  </div>
</div>
