<div class="jumbotron">
  <div id="pomodoro-work-timer" class="pomodoro-timer-container">

  </div>
  <div class="text-center">
    <%= link_to "Start",
                pomodoros_path,
                class: "btn btn-primary",
                :method => :post,
                remote: true %>
    <%= link_to "Pause",
                "",
                class: "btn btn-warning" %>
    <%= link_to "Reset",
                "",
                :method => :delete,
                remote: true,
                class: "btn btn-danger",
                id: "destroy-pomodoro-timer" %>
  </div>
</div>

<div class="container">
  <h1>For testing purpose</h1>
  <%= link_to "End",
              "",
              :method => :patch,
              remote: true,
              class: "btn btn-danger",
              id: "end-pomodoro-timer" %>
</div>


<script>
$('#pomodoro-work-timer').timer({
    countdown: true,
    // duration: '25m00s',
    duration: '10s',

    callback: function() {
    	alert("Done");
    }
});
</script>
